// ===================================================|
// Sections: STYLES

// -------------------------| Root
.root {
  @include mq-device-holding-type('inpocket') {
    text-align: center;
  }
}

// -------------------------| Item
.item {
  padding: rem(13px) 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  + .item {
    border-top: map-get($roles-borders-dividers, 'gray');
  }
}

// -------------------------| More
.more {
  padding-top: rem(13px);
  text-align: center;
  user-select: none;
  border-top: map-get($roles-borders-dividers, 'gray');

  i {
    display: none;
  }

  a {
    display: inline-block;
    font-weight: map-get($swatch-font-weights, 'semibold');
    background-color: currentColor;
    border-radius: map-get($swatch-border-radiuses, 'circle');

    span {
      display: block;
      padding: rem(6.5px);
      color: map-get($roles-col-texts, 'negative');
    }
  }
}

// -------------------------| Print styles
@media print {
  .more {
    i {
      display: block;
    }

    a {
      display: none;
    }
  }
}
