//====================================================|
// Mixins: LINKS

// -------------------------| Header links
@mixin links-header-styles() {
  color: map-get($roles-col-texts, 'base');

  @media (hover: hover) {
    &:hover:not(:active) {
      color: map-get($roles-col-links, 'hover');
    }
  }

  &:active {
    color: map-get($roles-col-links, 'active');
  }
}
