// ===================================================|
// Molecules: ITEM

// -------------------------| Variables
$offset: rem(($roles-size-doc-icon * 1.8) + 5);

// -------------------------| Root
.root {
  &.document {
    padding-right: $offset;

    @include mq-device-holding-type('inpocket') {
      @include padding-h($offset);
    }
  }
}

// -------------------------| Heading
.heading {
  .root.i & {
    @include mq-device-holding-type('outpocket') {
      display: inline-block;
      padding-right: $offset;
    }
  }
}

// -------------------------| File
.file {
  position: absolute;
  right: -#{$offset};
  transform: translateY(rem(-2px));

  @media print {
    display: none;
  }
}

// -------------------------| Details
.details {
  margin-top: rem(6.5px);
  font-size: map-get($roles-typo-font-sizes, 'details');
}

// -------------------------| Relative box
.rel-box {
  position: relative;
  width: 100%;
  height: 0;
}

// -------------------------| Info
.info {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all map-get($roles-transitions, 'icons') ease-in-out;
  transform: translateY(-50%) scale(0);

  @include mq-device-holding-type('outpocket') {
    position: absolute;
    top: rem(-20px);
    right: 0;
    bottom: 0;
    display: block;
    width: 25px;

    @media (hover: hover) {
      .root:hover & {
        top: rem(4px);
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }

    span {
      @include dimensions-square(rem(15px));

      display: inline-flex;
      align-items: center;
      justify-content: center;
      font: map-get($roles-typo-font-weights, 'icon') 1em serif;
      color: map-get($roles-col-texts, 'negative');
      cursor: help;
      background-color: map-get($roles-col-backgrounds, 'info');
      border-radius: rem(50%);
    }
  }
}

// -------------------------| Print styles
@media print {
  .info {
    display: none;
  }
}
