// ===================================================|
// Atoms: COPYRIGHT

// -------------------------| Root
.root {
  font-size: map-get($roles-typo-font-sizes, 'footer');
  font-weight: map-get($roles-typo-font-weights, 'footer');
  color: map-get($roles-col-texts, 'footer');
}
