mixin pro_experience(name, data)
  h2 #{data.label}
  .categories
    each val, index in data.content
      .category(data-experience=index)
        h3.label #{val.label}
        ul
          each item in val.list
            li #{item}
