// ===================================================|
// General: APP

// -------------------------| Body
body {
  font: map-get($roles-typo-font-weights, 'body')
    map-get($roles-typo-font-sizes, 'body')
    map-get($roles-typo-font-families, 'body');
}

// -------------------------| __nuxt container
body > div {
  //
}

// -------------------------| Global styles
:global {
  @media screen {
    .phone {
      display: none;
    }
  }
}
