// ===================================================|
// General: PRINT STYLES

// -------------------------| Page
@page {
  //
}

// -------------------------| Document
@media print {
  html {
    font-size: 9px;
  }
}
