// ===================================================|
// General: PRINT STYLES

// -------------------------| Page
@page {
  //
}

// -------------------------| Document
@media print {
  html {
    font-size: 9px;
  }

  [role='tooltip'],
  [class*='ps__rail'] {
    display: none !important;
    opacity: 0 !important;
  }
}
