//====================================================|
// EXPERIENCE


//--------------------------| Root

.root {
  //
}


//--------------------------| More

.more {
  padding-top: 1rem;
  text-align: center;
  user-select: none;
  border-top: map-get($roles-borders-dividers, 'gray');

  i {
    display: none;
  }

  a {
    display: inline-block;
    padding: 0.5rem;
    font-weight: map-get($swatch-font-weights, 'semibold');
    background-color: currentColor;
    border-radius: map-get($swatch-border-radiuses, 'circle');

    span {
      color: map-get($roles-col-texts, 'negative');
    }
  }
}


//--------------------------| Print styles

@media print {
  .more {
    i {
      display: block;
    }

    a {
      display: none;
    }
  }
}
