//====================================================|
// TAG


//--------------------------| Root

.root {
  display: inline-block;
  max-width: 100%;
  cursor: default;

  > * {
    @util truncate;

    display: block;
    padding: 0.1rem 0.3rem;
    border: map-get($roles-borders-wrappers, 'tag');
    border-radius: map-get($roles-borders-radiuses, 'tag');
  }

  a {
    color: map-get($roles-col-texts, 'base');
    transition: border-color map-get($roles-transitions, 'links') ease-in-out;

    @media (hover: hover) {
      &:hover:not(:active) {
        border-color: map-get($roles-col-links, 'hover');
      }
    }

    &:active {
      border-color: map-get($roles-col-links, 'active');
    }
  }
}
