/* =========================| Print |========================= */



@media print {

  body {
    &,
    * {
      -webkit-print-color-adjust: exact;
    }
  }

  .cv {
    .tools,
    .ext-link,
    .mode-switcher {
      display: none;
    }

    a {
      text-decoration: none;
    }

    p:not(:last-of-type) {
      margin-bottom: 12px;
    }

    h2 {
      margin-bottom: 15px;
    }

    article {
      width: 600px;
      padding: 0 0 0 50px;
      font-size: 14px;
    }

    header.title {
      padding-top: 30px;

      h1 {
        margin-bottom: -6px;
      }

      .contacts .contact {
        &.linkedin,
        &.twitter {
          display: none;
        }

        &.phone,
        &.email {
          display: inline;
        }

        &.email {
          color: $link-normal-color;
        }
      }
    }

    .details {
      max-height: 0 !important;
    }

    section .item {
      &:nth-of-type(2n+2) header {
        background-color: $body-bg !important;
      }
    }

    .item:not(:last-child),
    .section-references .contact:not(:last-child),
    [class='section-tech_experience'] .label {
      margin-bottom: 5px;
    }

    [class='section-tech_experience'] .category,
    [class='section-pro_experience'] .category {
      page-break-inside: avoid;
    }

    [class='section-tech_experience'] {
      padding-top: 30px;
      page-break-before: always;

      ul li .level {
        background: none;
      }
    }

    .section-references {
      .phone {
        display: block;
      }
    }

    footer.page {
      @include display-flex();
      @include flex-direction(column-reverse);

      padding: 0;
      font-size: 12px;
    }

  }

}
