//====================================================|
// META


//--------------------------| Root

.root {
  display: flex;
  align-items: center;
  font-size: map-get($roles-typo-font-sizes, 'meta');
  font-weight: map-get($roles-typo-font-weights, 'meta');
  color: map-get($roles-col-texts, 'meta');
  cursor: default;

  i {
    margin-left: 0.2rem;
  }
}


//--------------------------| Addon

.addon {
  display: none;
}


//--------------------------| Icons

.icon {
  @include dimensions-square(0.8rem);

  margin-right: 0.2rem;
  transform: translateY(-0.1rem);

  svg {
    fill: map-get($roles-col-icons, 'meta');
  }
}


//--------------------------| Print styles

@media print {
  .addon {
    display: inline-block;
  }

  .icon {
    transform: translateY(0);
  }
}
