// ===================================================|
// Roles: TYPOGRAPHY

// -------------------------| Font families
$roles-typo-font-families: map-merge($roles-typo-font-families, ());

// -------------------------| Font sizes hierarchy
$roles-typo-font-sizes: map-merge($roles-typo-font-sizes, ());

// -------------------------| Line-heights
$roles-typo-line-heights: map-merge(
  $roles-typo-line-heights,
  (
    'progress-bar': map-get($swatch-line-heights, '170%')
  )
);

// -------------------------| Font weights
$roles-typo-font-weights: map-merge(
  $roles-typo-font-weights,
  (
    'subtitle': map-get($swatch-font-weights, 'semibold'),
    'item': map-get($swatch-font-weights, 'semibold'),
    'info': map-get($swatch-font-weights, 'bold'),
    'meta': map-get($swatch-font-weights, 'semibold'),
    'progress-bar': map-get($swatch-font-weights, 'semibold'),
    'contact': map-get($swatch-font-weights, 'semibold'),
    'section': map-get($swatch-font-weights, 'bold'),
    'icon': map-get($swatch-font-weights, 'semibold'),
    'lang': map-get($swatch-font-weights, 'semibold')
  )
);
