// ===================================================|
// Roles: TYPOGRAPHY

// -------------------------| Font families
$roles-typo-font-families: map-merge($roles-typo-font-families, ());

// -------------------------| Font sizes range
$roles-typo-font-sizes-base: (
  'min': $base-html-font-size,
  'max': $base-html-font-size * map-get($roles-ratios, 'font')
);

// -------------------------| Font sizes hierarchy
$roles-typo-font-sizes: (
  'title': map-get($swatch-typo-font-sizes, '36'),
  'subtitle': map-get($swatch-typo-font-sizes, '20'),
  'contact': map-get($swatch-typo-font-sizes, '11'),
  'section': map-get($swatch-typo-font-sizes, '32'),
  'item': map-get($swatch-typo-font-sizes, '20'),
  'info': map-get($swatch-typo-font-sizes, '15'),
  'base': map-get($swatch-typo-font-sizes, '13'),
  'meta': map-get($swatch-typo-font-sizes, '10'),
  'footer': map-get($swatch-typo-font-sizes, '10')
);

// -------------------------| Line-heights
$roles-typo-line-heights: (
  'title': map-get($swatch-line-heights, '100%'),
  'text': map-get($swatch-line-heights, '130%'),
  'progress-bar': map-get($swatch-line-heights, '170%')
);

// -------------------------| Font weights
$roles-typo-font-weights: (
  'base': map-get($swatch-font-weights, 'regular'),
  'subtitle': map-get($swatch-font-weights, 'semibold'),
  'item': map-get($swatch-font-weights, 'semibold'),
  'info': map-get($swatch-font-weights, 'regular'),
  'meta': map-get($swatch-font-weights, 'semibold'),
  'progress-bar': map-get($swatch-font-weights, 'semibold'),
  'contact': map-get($swatch-font-weights, 'semibold'),
  'section': map-get($swatch-font-weights, 'bold'),
  'icon': map-get($swatch-font-weights, 'semibold'),
  'lang': map-get($swatch-font-weights, 'semibold')
);
