// ===================================================|
// Roles: BREAKPOINTS

$roles-breakpoints: map-merge(
  $roles-breakpoints,
  (
    'text': map-get($swatch-breakpoints, 'm'),
    'tight-height': map-get($swatch-breakpoints, 's')
  )
);
