// ===================================================|
// Roles: SIZES

// -------------------------| Modal
$roles-size-modal: 464px;

// -------------------------| Avatar
$roles-size-avatar: 120px;

// -------------------------| Icons
$roles-size-doc-icon: 16px;
